In [2]:
# Dependencies
import pandas as pd

In [3]:
file_to_load = "Pandas_challenge\Project\Resources\Survey-Data1.csv"

# Read Purchasing File and store into Pandas data frame
surveydata_df = pd.read_csv(file_to_load)
surveydata_df.head()

FileNotFoundError: [Errno 2] File Pandas_challenge\Project\Resources\Survey-Data1.csv does not exist: 'Pandas_challenge\\Project\\Resources\\Survey-Data1.csv'

In [84]:
# Inspect all columns
surveydata_df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [85]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
newsurveydata = surveydata_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
newsurveydata

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [86]:
# Change "0" to "No" and "1" to "Yes" in response columns
newsurveydata.replace(to_replace = [0.0,1.0],value =['No','Yes'], inplace = True)
#newsurveydata.tail()

C:\Users\Jeawills\anaconda3\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [87]:
# Calculate total number of respondents in survey
survey_respondents = len(newsurveydata) 
rowcount= newsurveydata.count()
survey_respondents, rowcount

(15620,
 Age                     13613
 AttendedBootcamp        15380
 BootcampFinish            933
 BootcampFullJobAfter      635
 BootcampLoanYesNo         934
 BootcampPostSalary        330
 BootcampRecommend         937
 ChildrenNumber           2554
 CityPopulation          13630
 CodeEventBootcamp          42
 CountryLive             13610
 EmploymentField          7608
 EmploymentStatus        12904
 Gender                  13746
 HasChildren              4012
 HoursLearning           14942
 Income                   7329
 JobRoleInterest          6503
 SchoolDegree            13679
 SchoolMajor              8450
 dtype: int64)

In [88]:
# Extract rows corresponding only to people who attended a bootcamp
bootcamp_attendants = newsurveydata.loc[(newsurveydata['AttendedBootcamp'] =='Yes')]
bootcamp_attendants.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [93]:
# Calculate average age of attendees
aveage_age_of_attendees = round(bootcamp_attendants['Age'].mean(),2)
#aveage_age_of_attendees.round(decimals=0)
aveage_age_of_attendees

31.07

In [110]:
# Calculate how many people attended a bootcamp
len(bootcamp_attendants)

953

In [120]:
# Calculate how many attendees hold degrees
attendants_with_degrees = bootcamp_attendants.loc[(bootcamp_attendants["SchoolDegree"] == "bachelor's degree")|(bootcamp_attendants["SchoolDegree"] == "master's degree (non-professional)")|(bootcamp_attendants["SchoolDegree"] == "Ph.D.")|(bootcamp_attendants["SchoolDegree"] == "professional degree (MBA, MD, JD, etc.)")|(bootcamp_attendants["SchoolDegree"] == "associate's degree")].count()["AttendedBootcamp"]
#attendants_with_degrees = bootcamp_attendants.loc[(bootcamp_attendants["SchoolDegree"] == "bachelor's degree")|(bootcamp_attendants["SchoolDegree"] == "master's degree (non-professional)")|(bootcamp_attendants["SchoolDegree"] == "Ph.D")|(bootcamp_attendants["SchoolDegree"] == "non-professional (MBA, MD, JD, etc.)")|(bootcamp_attendants["SchoolDegree"] == "associate degree")].count()["Income"]
attendants_with_degrees

637

In [121]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
male = bootcamp_attendants.loc[bootcamp_attendants["Gender"] == "male","AttendedBootcamp"].count()
female = bootcamp_attendants.loc[bootcamp_attendants["Gender"] == "female","AttendedBootcamp"].count()
non_binary = bootcamp_attendants['Gender'].count() - male - female
print(male, female, non_binary)

496 326 11

In [134]:
# Calculate percentage of respondents who attended a bootcamp
#percentage_of_respondants_atteneded = attendant/respondants* 100
survey_respondents = len(newsurveydata)
bootcampattendants = len(bootcamp_attendants) 
#bootcamp['AttendedBootcamp'].count()
percentage_of_respondants_atteneded = round(bootcampattendants / survey_respondents * 100,2)
percentage_of_respondants_atteneded

6.1

# Calculate percentage of respondents who attended a bootcamp
#percentage_of_respondants_atteneded = attendant/respondants* 100
survey_respondents1 = newsurveydata.count()
bootcampattendants1 = bootcamp_attendants.count()
percentage_of_respondants_atteneded = bootcampattendants / survey_respondents * 100)
percentage_of_respondants_atteneded

In [153]:
# Calculate percesentage of respondent belonging to each gender 
gender_group = bootcamp_attendants.groupby("Gender").count()["AttendedBootcamp"]
gender_group

Gender
agender          2
female         326
genderqueer      6
male           496
trans            3
Name: AttendedBootcamp, dtype: int64

In [167]:
# Calculate percesentage of respondent belonging to each gender
total_gender = bootcamp_attendants_df["Gender"].count()
gender_percent = gender_group/total_gender*100
gender_percent

Gender
agender         0.240096
female         39.135654
genderqueer     0.720288
male           59.543818
trans           0.360144
Name: AttendedBootcamp, dtype: float64

In [176]:
# Calculate percentage of attendees with a school degree
# = attendants_with_degrees.count()
#attendants_with_degrees
#percent_with_School_degree = attendants_with_degrees/
total_attended = bootcamp_attendants.loc[bootcamp_attendants["AttendedBootcamp"] == "Yes"].count()

SyntaxError: unmatched ']' (<ipython-input-176-13e90f032a17>, line 5)

In [165]:
# Calculate average post-bootcamp salary
average_salary = surveydata_df['BootcampPostSalary'].mean()
average_salary = "${:,.2f}".format(average_salary)
average_salary

'$63,740.51'

In [67]:
# Create a new table consolodating above calculations
#Summary_df = pd.DataFrame({"Average Post salary": [average_salary],
                                    "": [total_gender], "Total Number of Purchases": [total_purchase], "Total Revenue": [total_revenue]})
#Summary_df.head()

In [ ]:
#bootcampdf = pd.DataFrame({'Total Respondents': [respondents], 'Avg. Age of Attendees': [aveage],'Number of Bootcamp Attendees': [attendees], 'Percentage Attended Bootcamp': [didattend],'Holds a Degree': [wdegreescount], 'Male %': [malepct], 'Female %': [femalepct], 'Non-Gender Specific %': [othpct],"Avg Post-Bootcamp Salary": [salary]})

#bootcampdf

In [ ]:
# Improve formatting before outputting spreadsheet

In [ ]:
# Export to Excel
#bootcampdf.to_excel("D:\\pandas-challenge\\Projects\\BootcampSurvey.xlsx")